html
  head
    title!= title
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  body
    h1!= message
    form.form-horizontal(action='/login', method='post')
    	.form-group
        input(type='text', name='username')
        input(type='password', name='password')
        input(type='submit')