<!DOCTYPE html>
<html>
	<head>
		<title>Message</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1><%= title %></h1>
				<p><%= message %></p>
			</div>			
		</div>
	</body>
</html>